h1 {
  font-size: 50px;
  color: rgb(143, 214, 189);
  text-align: center;
}

p {
  color: rgb(143, 214, 189);
  font-size: 50px;
  text-align: center;
}

li {
  display: inline;
  text-align: center;
}

h6 {
  text-align: center;
}

iframe {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}


.intro {
  top: 0;
  background: #e0ebe8;

}

.intro p {
  color: green;
}

nav ul {
  text-align: right;
  position: fixed;
  width: 100%;
  background-color: #e0ebe8;
}

nav ul li {
  display: inline-block;
  margin: 55px;
  margin-bottom: 15px;
  margin-top: 25px;
}

nav ul li a {
  color: #008080;
  text-decoration: none;
}

nav ul li a:hover {
  color: green;
}
